<nav class="nav">
    <a class="nav-logo-link" href="#"><img src="{{ asset("images/logo.svg") }}" alt="RecetteDay" class="nav-logo"/></a>
    <a class="nav-link" href="#"><i class="fas fa-user"></i> {{ 'app.navbar.sing_in.label'|trans }}</a>
</nav>